<div class="modal-overlay" *ngIf="showModal"></div>
<!-- modal-before-close is used for slide up transition for 300ms while closing the modal  -->
<div class="modal-wrapper" [ngClass]="{'modal-open': showModal, 'modal-before-close': onBeforeClose}" (click)="onWrapperClick($event)">
    <div class="modal">
        <div class="modal-body" *ngIf="campaignData">
            <div class="campaign-info">
                <div class="margin-r-10">
                    <img [src]="campaignData.image_url" alt="campaign image"/>
                </div>
                <div> 
                    <p class="campaign-heading">{{campaignData.name}}</p>
                    <p class="campaign-sub-heading">{{campaignData.region}}</p>
                </div>
            </div>
            <div>
                <!-- heading tags are preferred because of seo purpose -->
                <h3 class="modal-heading">{{ 'modal.pricing' | translate }}</h3>
                <div class="pricing-details">
                    <!-- flex here is a helper class(helper classes are used to avoid inline styling) -->
                    <div *ngFor="let pricing of campaignData.price" class="flex pricing-row">
                        <div class="pricing-timespan">{{pricing.plan}}</div>
                        <div class="pricing-value">{{pricing.amount}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="javascript:void(0)" (click)="closeModal()" class="close-btn">{{ 'modal.close' | translate }}</a>
        </div>
    </div>
</div>