@mixin font-size($sizeValue) {
    font-size: ($sizeValue * 10) + px;
    font-size: $sizeValue + rem;
}
@mixin breakpoint($point) {
    @if $point == small {
      @media (max-width: 480px) { @content; }
    }
    @else if $point == medium {
      @media (max-width: 767px) { @content; }
    }
    @else if $point == large {
      @media (min-width: 768px)  { @content; }
    }
}
@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition:    $args;
    -ms-transition:     $args;
    -o-transition:      $args;
    transition:         $args;
}
@mixin transform($value) {
    -o-transform: $value;
    -ms-transform: $value;
    -webkit-transform: $value;
    transform: $value;
}